* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.debug {
    background-color: lightpink;
    border: 1px solid black;
}

div[class*="col-"] {
    float: left;
}

/*colonne*/
.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc( (100% / 12) * 2);
}

.col-2 {
    width: calc( (100% / 12) * 2);
}

.col-3 {
    width: calc( (100% / 12) * 3);
}

.col-4 {
    width: calc( (100% / 12) * 4);
}

.col-5 {
    width: calc( (100% / 12) * 5);
}

.col-6 {
    width: calc( (100% / 12) * 6);
}

.col-7 {
    width: calc( (100% / 12) * 7);
}

.col-8 {
    width: calc( (100% / 12) * 8);
}

.col-9 {
    width: calc( (100% / 12) * 9);
}

.col-10 {
    width: calc( (100% / 12) * 10);
}

.col-11 {
    width: calc( (100% / 12) * 11);
}

.col-12 {
    width: calc( (100% / 12) * 12);
}
/*off-set*/
.offset-1 {
    margin-left: calc(100% / 12);
}

.offset-2 {
    margin-left: calc( (100% / 12) * 2);
}

.offset-2 {
    margin-left: calc( (100% / 12) * 2);
}

.offset-3 {
    margin-left: calc( (100% / 12) * 3);
}

.offset-4 {
    margin-left: calc( (100% / 12) * 4);
}

.offset-5 {
    margin-left: calc( (100% / 12) * 5);
}

.offset-6 {
    margin-left: calc( (100% / 12) * 6);
}

.offset-7 {
    margin-left: calc( (100% / 12) * 7);
}

.offset-8 {
    margin-left: calc( (100% / 12) * 8);
}

.offset-9 {
    margin-left: calc( (100% / 12) * 9);
}

.offset-10 {
    margin-left: calc( (100% / 12) * 10);
}

.offset-11 {
    margin-left: calc( (100% / 12) * 11);
}

.offset-12 {
    margin-left: calc( (100% / 12) * 12);
}
/*<767*/
@media screen and (max-width: 767px) {
    .col-sx-1 {
        width: calc(100% / 12);
    }

    .col-sx-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-sx-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-sx-3 {
        width: calc( (100% / 12) * 3);
    }

    .col-sx-4 {
        width: calc( (100% / 12) * 4);
    }

    .col-sx-5 {
        width: calc( (100% / 12) * 5);
    }

    .col-sx-6 {
        width: calc( (100% / 12) * 6);
    }

    .col-sx-7 {
        width: calc( (100% / 12) * 7);
    }

    .col-sx-8 {
        width: calc( (100% / 12) * 8);
    }

    .col-sx-9 {
        width: calc( (100% / 12) * 9);
    }

    .col-sx-10 {
        width: calc( (100% / 12) * 10);
    }

    .col-sx-11 {
        width: calc( (100% / 12) * 11);
    }

    .col-sx-12 {
        width: calc( (100% / 12) * 12);
    }
}
/*768-991*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
        width: calc(100% / 12);
    }

    .col-md-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-md-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-md-3 {
        width: calc( (100% / 12) * 3);
    }

    .col-md-4 {
        width: calc( (100% / 12) * 4);
    }

    .col-md-5 {
        width: calc( (100% / 12) * 5);
    }

    .col-md-6 {
        width: calc( (100% / 12) * 6);
    }

    .col-md-7 {
        width: calc( (100% / 12) * 7);
    }

    .col-md-8 {
        width: calc( (100% / 12) * 8);
    }

    .col-md-9 {
        width: calc( (100% / 12) * 9);
    }

    .col-md-10 {
        width: calc( (100% / 12) * 10);
    }

    .col-md-11 {
        width: calc( (100% / 12) * 11);
    }

    .col-md-12 {
        width: calc( (100% / 12) * 12);
    }
}
/*> 992*/
@media screen and (min-width: 992px) {
    .col-ld-1 {
        width: calc(100% / 12);
    }

    .col-ld-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-ld-2 {
        width: calc( (100% / 12) * 2);
    }

    .col-ld-3 {
        width: calc( (100% / 12) * 3);
    }

    .col-ld-4 {
        width: calc( (100% / 12) * 4);
    }

    .col-ld-5 {
        width: calc( (100% / 12) * 5);
    }

    .col-ld-6 {
        width: calc( (100% / 12) * 6);
    }

    .col-ld-7 {
        width: calc( (100% / 12) * 7);
    }

    .col-ld-8 {
        width: calc( (100% / 12) * 8);
    }

    .col-ld-9 {
        width: calc( (100% / 12) * 9);
    }

    .col-ld-10 {
        width: calc( (100% / 12) * 10);
    }

    .col-ld-11 {
        width: calc( (100% / 12) * 11);
    }

    .col-ld-12 {
        width: calc( (100% / 12) * 12);
    }
}
/*offset*/
/*<767*/
@media screen and (max-width: 767px) {
    .offset-sx-1 {
        margin-left: calc(100% / 12);
    }

    .offset-sx-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-sx-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-sx-3 {
        margin-left: calc( (100% / 12) * 3);
    }

    .offset-sx-4 {
        margin-left: calc( (100% / 12) * 4);
    }

    .offset-sx-5 {
        margin-left: calc( (100% / 12) * 5);
    }

    .offset-sx-6 {
        margin-left: calc( (100% / 12) * 6);
    }

    .offset-sx-7 {
        margin-left: calc( (100% / 12) * 7);
    }

    .offset-sx-8 {
        margin-left: calc( (100% / 12) * 8);
    }

    .offset-sx-9 {
        margin-left: calc( (100% / 12) * 9);
    }

    .offset-sx-10 {
        margin-left: calc( (100% / 12) * 10);
    }

    .offset-sx-11 {
        margin-left: calc( (100% / 12) * 11);
    }

    .offset-sx-12 {
        margin-left: calc( (100% / 12) * 12);
    }
}
/*768-991*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .offset-md-1 {
        margin-left: calc(100% / 12);
    }

    .offset-md-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-md-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-md-3 {
        margin-left: calc( (100% / 12) * 3);
    }

    .offset-md-4 {
        margin-left: calc( (100% / 12) * 4);
    }

    .offset-md-5 {
        margin-left: calc( (100% / 12) * 5);
    }

    .offset-md-6 {
        margin-left: calc( (100% / 12) * 6);
    }

    .offset-md-7 {
        margin-left: calc( (100% / 12) * 7);
    }

    .offset-md-8 {
        margin-left: calc( (100% / 12) * 8);
    }

    .offset-md-9 {
        margin-left: calc( (100% / 12) * 9);
    }

    .offset-md-10 {
        margin-left: calc( (100% / 12) * 10);
    }

    .offset-md-11 {
        margin-left: calc( (100% / 12) * 11);
    }

    .offset-md-12 {
        margin-left: calc( (100% / 12) * 12);
    }
}
/*>992*/
@media screen and (max-width: 992px) {
    .offset-lg-1 {
        margin-left: calc(100% / 12);
    }

    .offset-lg-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-lg-2 {
        margin-left: calc( (100% / 12) * 2);
    }

    .offset-lg-3 {
        margin-left: calc( (100% / 12) * 3);
    }

    .offset-lg-4 {
        margin-left: calc( (100% / 12) * 4);
    }

    .offset-lg-5 {
        margin-left: calc( (100% / 12) * 5);
    }

    .offset-lg-6 {
        margin-left: calc( (100% / 12) * 6);
    }

    .offset-lg-7 {
        margin-left: calc( (100% / 12) * 7);
    }

    .offset-lg-8 {
        margin-left: calc( (100% / 12) * 8);
    }

    .offset-lg-9 {
        margin-left: calc( (100% / 12) * 9);
    }

    .offset-lg-10 {
        margin-left: calc( (100% / 12) * 10);
    }

    .offset-lg-11 {
        margin-left: calc( (100% / 12) * 11);
    }

    .offset-lg-12 {
        margin-left: calc( (100% / 12) * 12);
    }
}