.container {
    text-align: center;
}
div[class*=cal-] {
    text-align: center;
}

.maintitle {
    padding-top: 40px;
}

.imgwrap {
    height: 150px;
    display: inline-block;
    margin: 50px 0;
}

img {
    height: 100%;
}

